---
import Layout from '@layouts/Layout.astro';

---

<Layout>
    <main>
        <section id="about">
            <div class="container">
                <h2>À propos de moi</h2>
                <p>Je suis un étudiant passionné par l'informatique, actuellement en deuxième année d'IUT Informatique. Mes intérêts incluent le développement web et le développement de jeux vidéo. J'aime relever des défis techniques et apprendre de nouvelles technologies.</p>
                <p>Mes expériences incluent la création d'un chatbot lors de la Nuit de l'Info et le développement d'un site web pour donner des retours sur les poursuites d'études.</p>
            </div>
        </section>

        <section id="internship">
            <div class="container">
                <h2>Stage chez MindAI</h2>
                <p>Je débuterai un stage de 12 semaines chez <strong>MindAI</strong> à Montpellier, à partir du 13 janvier 2025. Ce stage consistera à développer une application innovante traduisant les pensées des animaux et des plantes en messages compréhensibles par l'humain.</p>
            </div>
        </section>

        <section id="skills">
            <div class="container">
                <h2>Compétences</h2>
                <ul>
                    <li>Développement web : HTML, CSS, JavaScript, PHP, MySQL</li>
                    <li>Développement logiciel : Java, Python</li>
                    <li>Frameworks : React, JavaFX</li>
                    <li>Gestion de projet : Git, GitHub, GitHub Actions</li>
                </ul>
            </div>
        </section>

        <section id="goals">
            <div class="container">
                <h2>Objectifs professionnels</h2>
                <p>À long terme, je souhaite devenir développeur web ou développeur de jeux vidéo, en contribuant à des projets innovants et captivants.</p>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <h2>Contact</h2>
                <p>Email : <a href="mailto:Gauthier.34m@gmail.com">Gauthier.34m@gmail.com</a></p>
                <p>LinkedIn : <a href="https://www.linkedin.com/in/gauthier-souquet-878aab202/" target="_blank">linkedin.com/in/souquet-gauthier</a></p>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Souquet Gauthier. Tous droits réservés.</p>
        </div>
    </footer>
</Layout>
