---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import Contact from '@components/Contact.astro';
import BackToTop from '@components/ui/BackToTop.astro';
---

<Layout>
    <style>
        main {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #ff7f50; /* Coral color for headings */
            font-size: 2rem;
            margin-bottom: 10px;
            border-bottom: 2px solid #ff7f50;
            display: inline-block;
        }
        p {
            color: white; /* white */
            margin-bottom: 20px;
        }
        strong {
            color: #0073e6; /* Blue for key emphasis */
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            background: #f4f4f4;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            border-left: 5px solid #ff7f50;
            color: #333;
        }
        a {
            color: #0073e6;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
        footer {
            text-align: center;
            margin-top: 40px;
            padding: 10px;
            background: #ff7f50;
            color: white;
        }
        footer p {
            margin: 0;
        }
        #contact a {
            word-wrap: break-word;
        }
    </style>

    <main>
        <section id="about">
            <div class="container">
                <h2>À propos de moi</h2>
                <p>
                    Je suis un étudiant passionné par l'<strong>informatique</strong>, actuellement en 
                    <strong>deuxième année d'IUT Informatique</strong>. Mes intérêts incluent le 
                    <strong>développement web</strong> et le <strong>développement de jeux vidéo</strong>. 
                    J'aime relever des défis techniques et apprendre de nouvelles technologies.
                </p>
                <p>
                    Mes expériences incluent la <strong>création d'un chatbot</strong> lors de la 
                    <strong>Nuit de l'Info</strong> et le développement d'un site web pour 
                    <strong>donner des retours sur les poursuites d'études</strong>.
                </p>
            </div>
        </section>
        <section id="skills">
            <div class="container">
                <h2>Compétences</h2>
                <ul>
                    <li><strong>Développement web :</strong> HTML, CSS, JavaScript, PHP, Oracle</li>
                    <li><strong>Développement logiciel :</strong> Java, Python, C, C++</li>
                    <li><strong>Gestion de projet :</strong> Git, GitHub</li>
                </ul>
            </div>
        </section>

        <section id="goals">
            <div class="container">
                <h2>Objectifs professionnels</h2>
                <p>
                    À long terme, je souhaite devenir <strong>développeur web</strong> ou 
                    <strong>développeur de jeux vidéo</strong>, en contribuant à des projets 
                    <strong>innovants</strong> et <strong>captivants</strong>.
                </p>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <h2>Contact</h2>
                <p>Email : <a href="mailto:Gauthier.34m@gmail.com">Gauthier.34m@gmail.com</a></p>
                <p>
                    LinkedIn : 
                    <a href="https://www.linkedin.com/in/gauthier-souquet-878aab202/" target="_blank">
                        linkedin.com/in/souquet-gauthier
                    </a>
                </p>
            </div>
        </section>
        <Contact />
        <BackToTop />
    </main>
</Layout>
