---
---
<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">À propos de moi</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full space-y-6 text-justify text-gray-900 dark:text-gray-100 lg:w-1/2">
		<p class="mb-2">
			<strong>Présentation :</strong> Je m'appelle Gauthier,
			j'ai 20 ans et je suis étudiant en informatique à Montpellier.
			Passionné par le développement depuis mon plus jeune âge,
			j'aime explorer et créer des solutions techniques
			innovantes qui combinent logique et créativité.
		</p>

		<p class="mb-2">
			<strong>Parcours de formation :</strong> Après avoir obtenu mon baccalauréat STI2D SIN,
			je me suis orienté vers un BUT Informatique où j'ai acquis des bases solides en programmation,
			algorithmique, et gestion de projets. J'ai également approfondi mes connaissances dans le développement web,
			la conception de bases de données, et les technologies modernes comme PHP et Java.
		</p>

		<p class="mb-2">
			<strong>Expériences :</strong> Durant mes études, j'ai participé à plusieurs projets académiques et personnels. Notamment :
		<ul class="list-disc ml-6 mt-2 space-y-2">
			<li>
				Création d'un chatbot lors de la <strong>Nuit de l'Info</strong>, qui a permis d'explorer les concepts d'interactivité et de développement d'IA.
			</li>
			<li>
				Développement d'un site web dédié à donner des avis sur la poursuite d'études, pour aider les étudiants à mieux s'informer sur leurs choix futurs.
			</li>
		</ul>
		</p>

		<p class="mb-2">
			<strong>Projet professionnel :</strong> Mon objectif est de devenir développeur web,
			ou développeur de jeux vidéo. Ces deux domaines m'attirent pour leur capacité à
			créer des expériences immersives et interactives, tout en mettant à profit mes compétences techniques et ma créativité.
		</p>
	</div>
</section>