---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Je m'appelle Gauthier, j'ai 20 ans et je suis étudiant en informatique passionné par le développement sous toutes ses formes. 
			Depuis mon plus jeune âge, la programmation m'a toujours fasciné, et c'est en explorant ce domaine que j'ai su que je voulais en faire mon métier.

			Animé par cette passion, j'ai décidé de poursuivre des études en informatique pour approfondir mes connaissances et développer mes compétences techniques. 
			Aujourd'hui, je suis déterminé à continuer à apprendre, à relever de nouveaux défis et à contribuer à des projets innovants.
		</p>
	</div>
</section>
