<footer
	data-testid="footer"
	class="p-6 text-center text-sm text-gray-900 dark:text-gray-100"
>
	<p>
		Copyright © {new Date().getFullYear()}. All rights reserved. Made by Gauthier Souquet
	</p>
</footer>