---
import heroImage from '@assets/images/moi.jpg';
import { Image } from 'astro:assets';
---

<section
	data-testid="hero"
	role="banner"
	class="flex min-h-screen flex-col-reverse items-center justify-center px-4 text-center lg:flex-row lg:justify-between lg:text-left"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2 lg:items-start">
		<h1 class="mb-8 font-monospace text-3xl text-gray-900 dark:text-gray-100 lg:text-5xl">
			Salut ! Mon nom est <span class="text-orange">Gauthier Souquet</span> et je suis un étudiant en informatique sur Montpellier.
		</h1>
	</div>

	<div data-testid="moi" class="mb-10 flex w-1/2 items-center justify-center lg:mb-0">
		<div class="w-80 h-80 lg:w-96 lg:h-96 flex-shrink-0">
			<Image
				src={heroImage}
				alt="Portrait de Gauthier Souquet"
				width={500}
				height={500}
				loading="eager"
				class="rounded-full object-cover w-full h-full"
			/>
		</div>
	</div>
</section>
