---
import cvFile from '@assets/cv-gauthier-souquet.pdf';
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon } from 'astro-navbar';
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<Button size={'sm'} name="Download CV">
				<a href={cvFile} download="Gauthier-Souquet-CV" class="flex items-center">
					Download CV
				</a>
			</Button>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>

		<nav class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				<li>
					<a
						href="/Portfolio-BUT"
						aria-label="link to Home"
						class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
					>
						Accueil
					</a>
				</li>
				<li>
					<a
						href="/Portfolio-BUT/presentation"
						aria-label="link to Présentation"
						class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
					>
						Présentation
					</a>
				</li>
				<li>
					<a
						href="/Portfolio-BUT/projects/projects"
						aria-label="link to Projets"
						class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
					>
						Projets
					</a>
				</li>
				<li>
					<a
						href="/Portfolio-BUT/contact"
						aria-label="link to Contact"
						class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
					>
						Contact
					</a>
				</li>
			</ul>
		</nav>
	</Astronav>
	<ToggleTheme />
</header>
