---
import cvFile from '@assets/cv-gauthier-souquet.pdf';
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'Présentation',
		URL: '/presentation', // URL absolue
	},
	{
		title: 'Projets',
		URL: '/projects', // URL absolue
	},
	{
		title: 'Contact',
		URL: '/contact', // URL absolue
	},
];
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<Button size={'sm'} name="Download CV">
				<a href={cvFile} download="Gauthier-Souquet-CV" class="flex items-center">
					Download CV
				</a>
			</Button>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems>
			{menuitems.map((item) => (
				<a href={
					item.URL
				} class="block px-4 py-2 text-black dark:text-white hover:bg-gray-200 dark:hover:bg-gray-800">
					{item.title}
				</a>
			))}
		</MenuItems>
		<ToggleTheme />
	
	</Astronav>
</header>
