---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Projets</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	<div class="flex flex-col lg:flex-row gap-8">
		{
			projects.map((project) => (
				<Card
					title={project.title}
					description={project.description}
					tags={project.tags}
					imageUrl={project.imageUrl}
				/>
			))
		}
</section>
