---
import Layout from '@layouts/Layout.astro';
import image from '@assets/images/NDI.png';
import { Image } from 'astro:assets';
import Contact from '@components/Contact.astro';
import BackToTop from '@components/ui/BackToTop.astro';
const tags = ['HTML', 'CSS', 'JS', 'PHP']
---

<Layout>
    <main>
        <section id="projects" class="py-10 bg-gray-50 dark:bg-gray-900">
            <div class="container mx-auto px-4">
                <h2 class="font-monospace text-2xl text-orange lg:text-4xl">Nuit De l'Info</h2>
                <span class="mb-10 h-1 w-10 bg-orange"></span>
                <div class="flex flex-col lg:flex-row gap-8">
                    <div class="w-full p-4">
                        <div class="relative w-full h-full overflow-hidden">
                            <Image src={image} alt="Nuit de l'Info" class="rounded-xl shadow-lg" format="png" width={500} height={500} loading="eager" />
                        </div>
                        <p class="mt-6 text-lg text-black dark:text-white">
                            La Nuit de l'Info est un événement national organisé par les IUT, réunissant des étudiants en informatique pour une nuit de création intense. Le but est de concevoir un site web autour d'un thème donné, qui cette année portait sur l'océan et le corps humain. Les entreprises participantes proposent divers défis à intégrer sur le site, permettant aux équipes de gagner des lots.
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-4 mt-8">
                    {tags.map((tag) => (
                        <span class="px-3 py-1 bg-orange text-black rounded-full text-sm">{tag}</span>
                    ))}
                </div>
            </div>
        </section>

        <section id="critical-learning" class="py-10 bg-white dark:bg-gray">
            <div class="container mx-auto px-4">
                <h2 class="font-monospace text-2xl text-orange lg:text-4xl">Apprentissage Critique (AC) Compétence Collaborer </h2>
                <span class="mb-10 h-1 w-10 bg-orange"></span>
                <div class="mt-6">
                    <h3 class="text-xl text-orange">AC1 : Comprendre la diversité, la structure et la dimension de l’informatique dans une organisation</h3>
                    <p class="text-lg text-black dark:text-white mt-4">
                        Lors de la Nuit de l'Info, j'ai pu découvrir la diversité des métiers de l'informatique et la manière dont ils interagissent pour répondre aux besoins des entreprises. J'ai également appris à travailler en équipe, à communiquer efficacement et à gérer mon temps pour respecter les délais impartis.
                    </p>
                    <h3 class="text-xl text-orange">AC2 : Appliquer une démarche pour intégrer une équipe informatique au sein d’une organisation</h3>
                    <p class="text-lg text-black dark:text-white mt-4">
                        J'ai intégré une équipe de 10 personnes pour relever les défis proposés par les entreprises. Nous avons utilisé des outils de gestion de projet comme Trello pour organiser notre travail, et nous avons réparti les tâches en fonction des compétences de chacun. J'ai également pris en charge la communication avec les entreprises pour obtenir des précisions sur les défis à relever.
                    </p>
                    <h3 class="text-xl text-orange">AC3 : Mobiliser les compétences interpersonnelles pour intégrer une équipe informatique</h3>
                    <p class="text-lg text-black dark:text-white mt-4">
                        J'ai développé mes compétences interpersonnelles en travaillant en équipe lors de la Nuit de l'Info. J'ai appris à écouter les idées des autres, à respecter les opinions divergentes et à collaborer efficacement pour atteindre nos objectifs communs. J'ai également pris en compte les retours des autres membres de l'équipe pour améliorer mes propres compétences et contribuer au succès du projet.
                    </p>
                </div>
            </div>
        </section>

        <Contact />
        <BackToTop />
    </main>
</Layout>
