---

import Layout from '@layouts/Layout.astro';
import Card from '@components/ui/Card.astro';

---

<Layout>
    <main>
        <section id="projects" class="py-10 bg-gray-50 dark:bg-gray-900">
            <div class="container mx-auto px-4">
                <h2 class="text-3xl font-bold text-orange-600 dark:text-orange-400 mb-8 text-center">Mes Projets</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
                    <Card
                        title="Train"
                        description="Un jeu de société retranscrit en une applicattion programmer en java et javaFX."
                        tags={['Java', 'JavaFX', 'Game']}
                        url="/Portfolio-BUT/projects/train"
                        imageUrl="@assets/images/train_gui.png"
                    />
                    <Card
                        title="SAE3A"
                        description="Un site web pour une entreprise de vente de pièces automobiles."
                        tags={['HTML', 'CSS', 'JavaScript', 'PHP', 'PL/SQL']}
                        url="/Portfolio-BUT/projects/sae3a"
                        imageUrl="@assets/images/SAE3A.png"
                    />
                </div>
            </div>
        </section>
    </main>
</Layout>
