---
import Layout from '@layouts/Layout.astro';
import image from '@assets/images/train_gui.png';
import { Image } from 'astro:assets';
import Contact from '@components/Contact.astro';
import BackToTop from '@components/ui/BackToTop.astro';
const tags = ['Java', 'JavaFX', 'Game']
---

<Layout>
  <main class="py-12 px-6">
    <section class="max-w-screen-lg mx-auto">
      <div class="flex flex-col lg:flex-row items-center gap-8">
        <!-- Project Image -->
        <div class="flex-shrink-0 w-full lg:w-1/2">
          <!-- Static image based on the project data -->
          <Image src={image} 
          alt='train image' 
          class="rounded-xl shadow-lg" 
          format="png" 
          width={500}
          height={500}
          loading="eager"/>  
        </div>
        
        <!-- Project Details -->
        <div class="flex flex-col w-full lg:w-1/2">
          <h2 class="font-monospace text-2xl text-orange lg:text-4xl">Train</h2>
          <span class="mb-10 h-1 w-10 bg-orange"></span>
          <p class="text-lg text-gray dark:text-gray-400">
            C'est un jeu de société qui simule la gestion d'une compagnie de train. Nous avons utilisé JavaFX pour la partie graphique et Java pour la partie logique.
            Pour ce projet, j'ai travaillé en trinôme avec 2 camarades de classe. Nous avons utilisé Git pour gérer le code source.
          </p>
          
          <h2 class="text-xl font-semibold text-orange mb-4">Objectifs</h2>
          <span class="text-lg text-gray dark:text-gray-400">
            Le but du jeu est de gérer une compagnie de train en achetant des locomotives, des wagons et en construisant des voies ferrées. 
            Le joueur doit également gérer les finances.
          </span>

          <div class="border rounded-lg shadow-md bg-gray-100 p-4">
            <button
                class="w-full text-left py-2 px-4 bg-orange text-black rounded-lg focus:outline-none"
                data-accordion-target="#accordion-ac"
                aria-expanded="false"
                onclick="toggleAccordion('accordion-ac', this)"
            >
              Apprentissage Critique (AC) Compétence Réaliser🗂️
            </button>
            <div id="accordion-ac" class="hidden mt-4">
              <!-- Directly rendering the actions -->
              <div>
                <h3 class="text-lg font-semibold text-orange">AC 1 : Choisir des structures de données complexes adaptées au problème</h3>
                <p class="text-sm text-black dark:text-white mb-4">
                  j'ai utilisé des structures de données complexes pour gérer les différentes entités du jeu (locomotives, wagons, voies ferrées, etc.).
                </p>
              </div>
              <div>
                <h3 class="text-lg font-semibold text-orange">AC 2 : Utiliser des techniques algorithmiques adaptées pour des problèmes complexes</h3>
                <p class="text-sm text-black dark:text-white mb-4">
                  j'ai mis en place des algorithmes pour gérer les déplacements des trains, les achats de matériel et les finances. 
                  Mais aussi pour gérer les différente actions des cartes du jeu.
                </p>
              </div>
            </div>
          </div>
          
          <div class="flex flex-wrap gap-2 mt-4">
            {tags.map((tag) => (
              <span class="px-2 py-1 bg-orange text-white rounded-md text-sm">{tag}</span>
            ))}
          </div>
        </div>
      </div>
    </section>
    <Contact />
		<BackToTop />
    <script>
      function toggleAccordion(id, button) {
      
        const accordion = document.getElementById(id);
        if (accordion) {
          const expanded = accordion.getAttribute('aria-expanded') === 'true' || false;
          
          accordion.hidden = expanded;
          accordion.setAttribute('aria-expanded', String(!expanded));
          
          button.setAttribute('aria-expanded', !expanded);
        }
    }
    </script>
  </main>
</Layout>
